
.emprendedores {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.emprendedor {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Biografia {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    text-align: justify;
    justify-content: center;
}

.img {
    border-radius: 25px;
}

.imagen {
    border-radius: 25px;
    width: 500px;
}

.imagen2 {

    border-radius: 25px;
    width: 500px;
}

.imagen3 {
    border-radius: 25px;
    width: 400px;
}

.imagen4 {
    border-radius: 25px;
    width: 500px;
}

.imagen5 {
    border-radius: 25px;
    width: 500px;
}

.imagen6 {
    border-radius: 25px;
    width: 500px;
}

.imagen7 {
    border-radius: 25px;
    width: 500px;
}

.imagen8 {
    border-radius: 25px;
    width: 500px;
}

.imagen9 {
    border-radius: 25px;
    width: 500px;
}

.container-fluid{
    color: blue;
}